[run]
branch = True
source = bio2bel_go
omit =
    src/bio2bel_go/__main__.py
    src/bio2bel_go/cli.py
    tests/*

[paths]
source =
    src/bio2bel_go
    .tox/*/lib/python*/site-packages/bio2bel_go

[report]
show_missing = True
exclude_lines =
    def __str__
    def __repr__
